body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px; 
    margin: 0 auto;
    padding: 0;
}

header {
    background: #ebebeb;
    text-align: center;
    font-size: 8px;
    padding: 20px;
    margin-top: 5px;
}

nav {
    background: #ebebeb;
    text-align: center;
    font-size: 10px;
    padding: 20px;
    margin-top: 5px;
}

section {
    background: #ebebeb;
    width: 495px;
    float: left;
    margin-top: 10px;
    text-align: center;
  }

  #article {
      background: #777;
      color: #ebebeb;
      text-align: center;
      width: 465px;
      margin: 15px;
      padding-top: 2px;
      padding-bottom: 170px;
         
  }

  #h1, #p {
      background: #ebebeb;
      color: #777;
      width: 430px;
      margin-left: 17px;
      font-size: large;
  }

  #p {
      padding-top: 3px;
      padding-bottom: 3px;
  }

  aside {
    Float: right;
    background: #ebebeb;
    color: #777;
    text-align: center;
    width: 450px;
    padding-bottom: 244px;
    margin-top: 10px;
  }

footer {
    background: #ebebeb;
    color: #777;
    text-align: center;
    padding: 10px;
    margin: 10px 0;

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;

}
